<div class="panel-container">
  <app-panel-drawer
    [drawerVisible]="drawerVisible()"
    (drawerVisibleChange)="drawerVisible.set($event)"
    [drawerWidth]="drawerWidth()"
    [modal]="isModal()"
  />
  <div
    class="panel-content"
    [class.expanded]="drawerVisible()"
    [style.margin-left]="isModal() ? '0' : drawerVisible() ? drawerWidth() : '0'"
  >
    <div class="sticky top-0 z-10">
      <app-topbar [showSidenavToggleButton]="true" (toggleSidenav)="toggleSidenav()" />
    </div>
    <!-- pb-[14rem] is to avoid the footer from being hidden by the unsaved changes toast -->
    <main class="p-6 pb-[18rem]">
      <div class="max-w-7xl mx-auto">
        <router-outlet />
      </div>
    </main>
  </div>
</div>
