<div class="flex flex-col gap-4">
  @if (requireCurrentPassword()) {
  <app-form-field class="w-full">
    <app-label>{{ 'auth.changePassword.currentPassword' | translate }}</app-label>
    <p-password
      [formControl]="form.controls.currentPassword!"
      [fluid]="true"
      [toggleMask]="true"
      [feedback]="false"
    />
    <app-control-error [control]="form.get('currentPassword')!" />
  </app-form-field>
  }
  <app-form-field class="w-full">
    <app-label>{{ 'auth.changePassword.newPassword' | translate }}</app-label>
    <p-password
      [autocomplete]="'off'"
      [formControl]="form.controls.newPassword"
      [fluid]="true"
      [toggleMask]="true"
      [feedback]="true"
    >
      <ng-template #footer>
        <p-divider />
        <app-new-password-requirements />
      </ng-template>
    </p-password>
    <app-control-error [control]="form.get('newPassword')!" />
  </app-form-field>
  <app-form-field class="w-full">
    <app-label>{{ 'auth.changePassword.confirmPassword' | translate }}</app-label>
    <p-password
      [formControl]="form.controls.confirmPassword"
      [fluid]="true"
      [toggleMask]="true"
      [feedback]="false"
    >
    </p-password>
    <app-control-error [control]="form.controls.confirmPassword" />
  </app-form-field>
</div>
