<div class="flex flex-col gap-4">
  @if (requireCurrentPassword()) {
  <app-form-field-container>
    <label for="currentPassword">{{ 'auth.changePassword.currentPassword' | translate }}</label>
    <p-password
      [formControl]="form.controls.currentPassword!"
      [fluid]="true"
      [toggleMask]="true"
      [feedback]="false"
    />
    @if (currentPasswordHint()) {
    <app-form-field-hint>{{ currentPasswordHint() }}</app-form-field-hint>
    }
    <app-form-field-error [control]="form.get('currentPassword')!" />
  </app-form-field-container>
  }
  <app-form-field-container>
    <label for="newPassword">{{ 'auth.changePassword.newPassword' | translate }}</label>
    <p-password
      [autocomplete]="'off'"
      [formControl]="form.controls.newPassword"
      [fluid]="true"
      [toggleMask]="true"
      [feedback]="true"
    >
      <ng-template #footer>
        <p-divider />
        <app-new-password-requirements />
      </ng-template>
    </p-password>
    @if (newPasswordHint()) {
    <app-form-field-hint>{{ newPasswordHint() }}</app-form-field-hint>
    }
  </app-form-field-container>
  <app-form-field-container>
    <label for="confirmPassword">{{ 'auth.changePassword.confirmPassword' | translate }}</label>
    <p-password
      [formControl]="form.controls.confirmPassword"
      [fluid]="true"
      [toggleMask]="true"
      [feedback]="false"
    >
    </p-password>
    @if (confirmPasswordHint()) {
    <app-form-field-hint>{{ confirmPasswordHint() }}</app-form-field-hint>
    }
    <app-form-field-error [control]="form.controls.confirmPassword" />
  </app-form-field-container>
</div>
