.p-component.ng-invalid.ng-touched {
  border-color: var(--p-inputtext-invalid-border-color);
  color: var(--p-inputtext-invalid-border-color);
  --p-inputtext-border-color: var(--p-inputtext-invalid-border-color) !important;
}
.p-component.ng-invalid.ng-touched::placeholder {
  color: var(--p-inputtext-invalid-border-color);
}

// Custom gap for form grids
.gap-form-grid {
  gap: 0.5rem; // 16px - equivalente a gap-4 de Tailwind pero con nombre semántico
}
