.p-component.ng-invalid.ng-touched {
  border-color: var(--p-inputtext-invalid-border-color);
  color: var(--p-inputtext-invalid-border-color);
}
.p-component.ng-invalid.ng-touched::placeholder {
  color: var(--p-inputtext-invalid-border-color);
}
