<div class="grid grid-cols-12 gap-form-grid">
  <div class="col-span-12">
    <app-form-field-container class="w-full">
      <label for="name">{{ 'addresses.form.name' | translate }}</label>
      <input
        pInputText
        type="text"
        class="w-full"
        [formControl]="nameControl"
        [placeholder]="'addresses.form.namePlaceholder' | translate"
      />
      <app-form-field-error [control]="nameControl" />
    </app-form-field-container>
  </div>
  <div class="col-span-4">
    <app-form-field-container class="w-full">
      <label for="country">{{ 'addresses.form.country' | translate }}</label>
      <p-select
        class="w-full"
        appendTo="body"
        [options]="countries()"
        [formControl]="countryIdControl"
        optionLabel="name"
        optionValue="id"
        [filter]="true"
        filterBy="name"
        (onChange)="onCountrySelect($event)"
        [placeholder]="'common.selectPlaceholder' | translate"
      >
        <ng-template let-option #selectedItem>
          <div class="flex items-center gap-1.5">
            <img
              src="https://flagcdn.com/w80/{{ option.iso2.toLowerCase() }}.png"
              [alt]="option.name"
              style="width: 18px"
            />
            <span>{{ option.name }}</span>
          </div>
        </ng-template>
        <ng-template let-option #item>
          <div class="flex items-center gap-1.5">
            <img
              src="https://flagcdn.com/w80/{{ option.iso2.toLowerCase() }}.png"
              [alt]="option.name"
              style="width: 18px"
            />
            <span>{{ option.name }}</span>
          </div>
        </ng-template>
      </p-select>
      <app-form-field-error [control]="countryIdControl" />
    </app-form-field-container>
  </div>
  <div class="col-span-4">
    <app-form-field-container class="w-full">
      <label for="state">{{ 'addresses.form.state' | translate }}</label>
      <p-select
        class="w-full"
        [disabled]="!countryIdControl.value"
        appendTo="body"
        [options]="states()"
        [formControl]="stateIdControl"
        optionValue="id"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        (onChange)="onStateSelect($event)"
        [placeholder]="'common.selectPlaceholder' | translate"
      >
        <ng-template let-option #item>
          <div class="flex items-center gap-1.5">
            <span>{{ option.name }}</span>
          </div>
        </ng-template>
      </p-select>
      <app-form-field-error [control]="stateIdControl" />
    </app-form-field-container>
  </div>

  <div class="col-span-4">
    <app-form-field-container class="w-full">
      <label for="locality">{{ 'addresses.form.locality' | translate }}</label>
      <p-autocomplete
        class="w-full"
        appendTo="body"
        [disabled]="!stateIdControl.value"
        [dropdown]="true"
        [dropdownMode]="'blank'"
        [suggestions]="filteredLocalities()"
        (completeMethod)="filterLocalities($event)"
        [formControl]="localityControl"
        (onSelect)="onLocalitySelect($event)"
        [optionLabel]="'name'"
        [optionValue]="'name'"
        [placeholder]="'common.selectPlaceholder' | translate"
      >
        <ng-template let-option #item>
          <div class="flex items-center gap-1.5">
            <span>{{ option.name }}</span>
          </div>
        </ng-template>
      </p-autocomplete>
      <app-form-field-error [control]="localityControl" />
    </app-form-field-container>
  </div>
  <div class="col-span-12 md:col-span-8">
    <app-form-field-container class="w-full">
      <label for="address">{{ 'addresses.form.address' | translate }}</label>
      <input pInputText type="text" class="w-full" [formControl]="addressControl" />
      <app-form-field-error [control]="addressControl" />
    </app-form-field-container>
  </div>
  <div class="col-span-12 md:col-span-4">
    <app-form-field-container class="w-full">
      <label for="zip">{{ 'addresses.form.zip' | translate }}</label>
      <input pInputText type="text" class="w-full" [formControl]="postalCodeControl" />
      <app-form-field-error [control]="postalCodeControl" />
    </app-form-field-container>
  </div>
  <div class="col-span-12">
    <app-form-field-container class="w-full">
      <label for="directions">{{ 'addresses.form.directions' | translate }}</label>
      <textarea
        pTextarea
        type="text"
        class="w-full"
        [formControl]="directionsControl"
        [placeholder]="'addresses.form.directionsPlaceholder' | translate"
      ></textarea>
      <app-form-field-error [control]="directionsControl" />
    </app-form-field-container>
  </div>
</div>
