<p-table
  #table
  dataKey="id"
  [loading]="loading()"
  [globalFilterFields]="['firstName', 'lastName', 'email', 'userName']"
  [value]="users()"
  [paginator]="paginator()"
  [rows]="10"
  [totalRecords]="totalCount()"
  [lazy]="lazy()"
  (onLazyLoad)="lazyLoad.emit($event)"
  [rowsPerPageOptions]="pageSizeOptions()"
  [rows]="pageSize()"
>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">{{ 'common.table.noData' | translate }}</td>
    </tr>
  </ng-template>
  <ng-template #caption>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="table.filterGlobal($event.target.value, 'contains')"
          [placeholder]="'common.search' | translate"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="firstName">
        {{ 'users.table.userColumn' | translate }}
        <p-sortIcon field="firstName" />
      </th>
      <th pSortableColumn="email">
        {{ 'users.table.emailColumn' | translate }}
        <p-sortIcon field="email" />
      </th>
      <th [style.min-width]="'280px'">{{ 'users.table.rolesColumn' | translate }}</th>
      <th>{{ 'users.table.statusColumn' | translate }}</th>
      <th pSortableColumn="createdAt">
        {{ 'users.table.createdAtColumn' | translate }}
        <p-sortIcon field="createdAt" />
      </th>
      @if (actionsColumnTemplate()) {
      <th>{{ 'common.table.actionsColumn' | translate }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td>
        <div class="flex items-center gap-2">
          <app-user-avatar [user]="user" />
          <div class="flex flex-col">
            @if (user.person) {
            {{ user.person.firstName }} {{ user.person.lastName }}
            }
            <span class="text-sm text-gray-500">@{{ user.username }}</span>
          </div>
        </div>
      </td>
      <td>{{ user.email }}</td>
      <td>
        @if (!canManageUserRoles() && user.roles.length > 0) {
        <div class="flex items-center gap-2">
          <p>{{ 'roles.userRoles.noRolesAssigned' | translate }}</p>
        </div>
        } @else {
        <app-user-roles-chips
          [user]="user"
          [roles]="user.roles"
          [enableEditRoles]="enableEditRoles()"
        />
        }
      </td>
      <td>
        @if (user.isActive) {
        <p-chip icon="pi pi-check" [label]="'users.table.active' | translate" />
        } @else {
        <p-chip icon="pi pi-ban" [label]="'users.table.inactive' | translate" />
        }
      </td>
      <td>
        {{ user.createdAt | localizedDate : 'short' }}
      </td>
      @if (actionsColumnTemplate()) {
      <td>
        <ng-container
          *ngTemplateOutlet="actionsColumnTemplate(); context: { $implicit: user }"
        ></ng-container>
      </td>
      }
    </tr>
  </ng-template>
</p-table>
