<form [formGroup]="form" class="grid grid-cols-12 gap-4">
  <div class="col-span-12 md:col-span-6">
    <app-form-field
      class="w-full"
      [inlineEditable]="inlineEditable()"
      (save)="onSave('firstName', $event)"
    >
      <app-label>{{ 'people.form.firstName' | translate }}</app-label>
      <input pInputText type="text" class="w-full" [formControl]="form.controls.firstName" />
      <app-control-error [control]="form.controls.firstName" />
    </app-form-field>
  </div>
  <div class="col-span-12 md:col-span-6">
    <app-form-field
      class="w-full"
      [inlineEditable]="inlineEditable()"
      (save)="onSave('lastName', $event)"
    >
      <app-label>{{ 'people.form.lastName' | translate }}</app-label>
      <input pInputText type="text" class="w-full" [formControl]="form.controls.lastName" />
      <app-control-error [control]="form.controls.lastName" />
    </app-form-field>
  </div>

  <div class="col-span-12 lg:col-span-6">
    <app-form-field
      class="w-full"
      [inlineEditable]="inlineEditable()"
      (save)="onSave('identificationNumber', $event)"
    >
      <app-label>{{ 'people.form.identificationNumber' | translate }}</app-label>
      <input
        pInputText
        type="text"
        class="w-full"
        [formControl]="form.controls.identificationNumber"
      />
      <app-control-error [control]="form.controls.identificationNumber" />
    </app-form-field>
  </div>
  <div class="col-span-12 lg:col-span-6">
    <app-form-field
      class="w-full"
      [inlineEditable]="inlineEditable()"
      (save)="onSave('identificationType', $event)"
    >
      <app-label>{{ 'people.form.identificationType' | translate }}</app-label>
      <p-select
        class="w-full"
        [options]="identificationTypes()"
        [formControl]="form.controls.identificationType"
        appendTo="body"
      >
        <ng-template #selectedItem let-option>
          <div>{{ 'identificationTypes.' + option | translate }}</div>
        </ng-template>
        <ng-template #item let-option>
          <div>{{ 'identificationTypes.' + option | translate }}</div>
        </ng-template>
      </p-select>
      <app-control-error [control]="form.controls.identificationType" />
    </app-form-field>
  </div>
  <div class="col-span-12">
    <app-form-field
      class="w-full"
      [inlineEditable]="inlineEditable()"
      (save)="onSave('phone', $event)"
    >
      <app-label>{{ 'people.form.phone' | translate }}</app-label>
      <app-phone-input [formControl]="form.controls.phone" class="w-full" />
      <app-control-error [control]="form.controls.phone" />
    </app-form-field>
  </div>
</form>
