<p-toolbar class="p-2 shadow-lg">
  <ng-template #start>
    @if (backRoute()) {
    <p-button
      [routerLink]="backRoute()"
      icon="fa-solid fa-arrow-left"
      text
      severity="secondary"
      [rounded]="true"
    />
    } @if (showSidenavToggleButton()) {
    <p-button icon="pi pi-bars" text rounded (onClick)="toggleSidenav.emit()" />
    }
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-4">
      <app-lang-menu />
      <!-- <app-lang-selector /> -->
      <app-theme-button />
      @if (isAuthenticated()) {
      <app-user-notifications-button />
      <app-user-menu class="h-full" />
      }
    </div>
  </ng-template>
</p-toolbar>
