<div>
  @if (step() === 'request') {

  <form [formGroup]="requestForm">
    <app-form-field class="w-full">
      <app-label>{{ 'auth.changeEmail.newEmail' | translate }}</app-label>
      <input class="w-full" pInputText formControlName="newEmail" />
      <app-hint>
        {{ 'auth.changeEmail.requestHelperText' | translate }}
      </app-hint>
      <app-control-error [control]="requestForm.controls.newEmail" />
    </app-form-field>
  </form>
  } @else {

  <form [formGroup]="verifyForm">
    <app-form-field class="w-full">
      <app-label>{{ 'auth.changeEmail.code' | translate }}</app-label>
      <p-inputmask
        mask="9999-9999"
        [fluid]="true"
        formControlName="verificationCode"
        placeholder="1234-5678"
      />
      <app-hint>
        {{ 'auth.changeEmail.verifyHelperText' | translate }}
      </app-hint>
      <app-control-error [control]="verifyForm.controls.verificationCode" />
    </app-form-field>
  </form>
  }
  <div appDialogActions>
    @if (step() === 'verify') {
    <button
      pButton
      type="button"
      (click)="onRequest()"
      icon="pi pi-refresh"
      [text]="true"
      severity="info"
    >
      {{ 'auth.changeEmail.resendCodeButton' | translate }}
    </button>
    }
    <button
      pButton
      type="button"
      severity="secondary"
      (click)="onCancel()"
    >
      {{ 'common.cancel' | translate }}
    </button>
    <button
      pButton
      [loading]="isLoading()"
      type="button"
      (click)="onSubmit()"
    >
      {{ 'common.confirm' | translate }}
    </button>
  </div>
</div>
