.form-field-container {
  &.fixed-height {
    height: 5rem;

    // .message-container {
    //   height: 1.5rem;
    //   display: flex;
    //   align-items: flex-start;
    //   margin-left: 0.5rem;
    //   transition: all 0.2s ease-in-out;
    // }
  }
}
